{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Libs - very simple library system</title>

    {% block styles %}
        <link href="{% static 'styles/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'styles/style.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<body>
<header class="jumbotron my-4">
    <h2>Libs</h2>
    <p class="lead">
        Very simple library system
        to list and add books to database.
        Search is performed in title, author name and in publication language.
        Filter is done by publication year.
    </p>
</header>
{% block navigation %}
    {% include 'partials/_nav.html' %}
{% endblock %}

<div class="container">
    <div class="row">
        <div class="col-col-lg-3 col-md-6 mb-4">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

<footer class="py-5 bg-dark">
    {% include 'partials/_footer.html' %}
</footer>

{% block scripts %}
{% endblock %}

</body>
</html>