{% load static %}

<div class="card card--adj mb-3">
    <img class="card-img-top img-size"
         src="{% if book.cover %}{{ book.cover }}{% else %}{% static 'images/no_cover.png' %}{% endif %}"
         alt="{{ book.title }}_cover">

    <div class="card-body">
        <p class="card-title">{{ book.title }}</p>
        <p class="card-text">
            {% for author in book.author.all %}
                {{ author.name }}
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        <p class="card-text"><small>ISBN: {{ book.isbn }}</small></p>
        <p class="card-text"><small>Publication language: {{ book.publication_language }}</small></p>
        <p class="card-text"><small>Publication year: {{ book.publication_year }}</small></p>
        <p class="card-text"><small>Pages: {{ book.page_count }}</small></p>
    </div>
    {% if book.pk %}
        <div class="card-footer">
            <a class="btn btn-danger btn-sm m-0" href="{% url 'books:update-book' pk=book.pk %}">Edit</a>
        </div>
    {% endif %}
</div>


