body {
  padding-top: 82px;
}

.img-size {
  height: 300px;
  padding: 5px;
}

.card--adj {
  max-width: 255px;
  min-width: 200px;
}

.logo {
  width: 2rem;
  height: 2rem;
}

.input-group {
  margin-right: 0.5rem;
}